<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form-signin' }) do |f| %>
	<%= devise_error_messages! %>
	<h2 class="form-signin-heading">Resend unlock instructions</h2>

	<%= f.label :email, class: 'sr-only' %><br />
	<%= f.email_field :email, placeholder: "Email", class: 'form-control', autofocus: true %>

	<%= f.submit "Resend unlock instructions", class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
<%= render "users/shared/links" %>
