<!-- Carousel
================================================== -->

<h2 class="featurette-heading text-center"><span class="text-muted">Featured Movies</span></h2>
<% if (@featured && !@featured.empty?) %>
  <div id="featured-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @featured.each_with_index do |featured_movie, index| %>
        <% if index == 0 %>
            <li data-target="#featured-carousel" data-slide-to="0" class="active"></li>
        <% else %>
            <li data-target="#featured-carousel" data-slide-to=<%"#{index}"%>></li>
        <% end %>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    <% @featured.each_with_index do |featured_movie, index| %>
      <div class="item <%='active' if index == 0%>">
        <% if featured_movie.poster.file.nil? %>
          <%=image_tag 'profile_cover.jpg', alt: featured_movie.name %>
        <% else %>
          <%=image_tag featured_movie.poster.url, alt: featured_movie.name %>
        <% end %>
        <div class="carousel-caption">
            <h1><%=featured_movie.name%></h1>
            <p><%=featured_movie.about%></p>
            <p><%=link_to "Know More", featured_movie, class: "btn btn-lg btn-primary", role: "button" %></p>
        </div>
      </div>
    <%end%>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<%else%>
  <div class="jumbotron">
    <p>No Featured Movies Found.</p>
  </div>
<%end%>

<hr class="featurette-divider">


<h2 class="featurette-heading text-center"><span class="text-muted">Recent Movies</span></h2>
<% if (@recent && !@recent.empty?) %>
  <div id="recent-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @recent.each_with_index do |recent_movie, index| %>
        <% if index == 0 %>
            <li data-target="#recent-carousel" data-slide-to="0" class="active"></li>
        <% else %>
            <li data-target="#recent-carousel" data-slide-to=<%"#{index}"%>></li>
        <% end %>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    <% @recent.each_with_index do |recent_movie, index| %>
      <div class="item <%='active' if index == 0%>">
        <% if recent_movie.poster.file.nil? %>
          <%=image_tag 'profile_cover.jpg', alt: recent_movie.name %>
        <% else %>
          <%=image_tag recent_movie.poster.url, alt: recent_movie.name %>
        <% end %>
        <div class="carousel-caption">
            <h1><%=recent_movie.name%></h1>
            <p><%=recent_movie.about%></p>
            <p><%=link_to "Know More", recent_movie, class: "btn btn-lg btn-primary", role: "button" %></p>
        </div>
      </div>
    <%end%>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<%else%>
  <div class="jumbotron">
    <p>No Recent Movies Found.</p>
  </div>
<%end%>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
  <h2 class="featurette-heading text-center"><span class="text-muted">Latest News</span></h2>

  <% if (@news && !@news.empty?) %>
    <% @news.each_with_index do |news, index| %>
      <div class="row featurette">
        <div class="col-md-7  <%='col-md-push-5' if ((index%2)==0) %>">
          <h2 class="featurette-heading"><%=news.title%><span class="text-muted"><%=link_to news.movie.name, news.movie%></span></h2>
          <p class="lead"><%=news.desc[0..100]%>...</p>
        </div>
        <div class="col-md-5 <%='col-md-pull-7' if ((index%2)==0) %>">
          <% if news.movie.poster.file.nil? %>
            <%=image_tag 'profile_cover.jpg', alt: news.movie.title, class:"featurette-image img-responsive center-block" %>
          <% else %>
            <%=image_tag news.movie.poster.url, alt: news.movie.title, class:"featurette-image img-responsive center-block" %>
          <% end %>
        </div>
      </div>

      <hr class="featurette-divider">
    <% end %>
  <% else %>
    <div class="jumbotron">
      <p>No News Found.</p>
    </div>
  <% end %>

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->

</div><!-- /.container -->